:root {
    --primary: #E3170A;
    --secondary: #8ACFE5;
    --primary-dark: #011827;
    --display: 'none';
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    min-height: 144px;
}

header .logo {
    margin: 26px 0 0 27px;
    width: 128px;
    height: 82px;
}

header h1 {
    margin-left: 14px;
    margin-top: 25px;
    width: 78px;
    color: white;
    font-size: 1.5rem;
}

header div {
    display: flex;
    flex-direction: row;
}

picture {
    width: 100%;
}

picture img {
    display: block;
    width: 100%;
    height: 100%;
}

p {
    line-height: 21px;
}

h3 {
    line-height: 32px;
}

footer {
    background-color: var(--primary-dark);
    line-height: 21px;
    padding: 2rem 0 2rem 0;
}

footer ul {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2rem;
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer div {
    color: white;
    padding: 2rem;
}

footer :nth-child(4) {
    padding-bottom: 1rem;
}

button {
    height: 66px;
    font-weight: bold;
    width: min(308px, 70%);
    border-radius: 4px;
    border: none;
}

button:hover {
    cursor: pointer;
}

#quote-two {
    display: none;
}

#popular-challenges h2 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-weight: normal;
}

.menu-desktop {
    display: none;
}

.menu-desktop li {
    list-style: none;
}

.font-small {
    font-size: 1.125rem;
}

.font-medium {
    font-size: 1.5rem;
}

.font-big {
    font-size: 1.75rem;
}

.font-bigger {
    font-size: 2rem;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.online-challenges {
    font-size: 1rem;
    background-color: transparent;
    text-decoration: underline;
    color: #36769D;
}

.button-primary {
    background-color: var(--primary);
    color: white;
    margin-top: 37px;
}

.button-secondary {
    background-color: var(--secondary);
    color: #011827;
    text-decoration: none;
    margin-top: 37px;
}

.quotes {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.quote {
    display: flex;
    align-items: center;
    width: auto;
    margin: 2rem;
    max-width: 700px;
}

.quote img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-right: 1rem;
    align-self: flex-start;
}

.quote div {
    display: flex;
    flex-direction: column;
}

.quote div p {
    line-height: 28px;
}

.challenges {
    display: flex;
    overflow: auto;
    gap: 2rem;
    padding: 60px;
    padding-top: 0;
    padding-bottom: 10px;
}


.challenge {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    min-width: 363px;
}

.challenge img {
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.challenge h3 {
    padding: 1rem;
    font-weight: normal;
}

.challenge p {
    line-height: 21px;
    padding: 1rem;
}

.challenge button {
    align-self: flex-end;
    font-size: 1rem;
    width: 180px;
    height: 44px;
    margin: 12px;
}

.challenge-photo {
    width: 363px;
}

.menu-mobile {
    z-index: 10;
    animation-name: fadein;
    animation-duration: 0.2s;
    position: fixed;
    left: 1rem;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    display: none;
    background-color: var(--primary-dark);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    &>button {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: transparent;
        border: none;
        color: white;
        width: auto;
        height: auto;

        &>i {
            font-size: 60px;
        }
    }

    &>ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        color: white;
        gap: 4rem;

        &>li a {
            text-decoration: none;
            color: white;
            font-size: 36px;
            font-weight: bold;
            margin: 1rem;
        }
    }
}

.backdrop {
    animation-name: opacity;
    animation-duration: 0.1s;
    display: none;
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background-color: white;
}

.menu-button {
    color: white;
    position: absolute;
    right: 20px;
    top: 26px;
    width: 51px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &:hover {
        cursor: pointer;
    }
}

.menu-button__line {
    display: block;
    background-color: white;
    width: 51px;
    height: 6px;
    border-radius: 6px;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 80px 0;
    background-color: var(--primary-dark);
}

.story p {
    color: white;
    line-height: 33px;
    text-align: center;
    padding: 19px;
    padding-bottom: 2rem;
}

.story button {
    color: var(--secondary);
    text-align: center;
    background-color: transparent;
    height: 66px;
    border-radius: 4px;
    border: 2px solid var(--secondary);
}

.examples {
    padding-bottom: 50px;
}

.example {
    margin-bottom: 2rem;
}

.example div {
    padding: 1rem;
}

.example div h2 {
    line-height: 37.5px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 1rem;
}

.example p {
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.example img {
    width: 100%;
}

.rating {
    display: flex;
    padding-left: 1rem;
    gap: 1rem;
}

.rating span {
    font-size: 14px;
    line-height: 16px;
}

.rating i {
    color: red;
}

@media (max-width: 330px) {
    html {
        font-size: 14px;
    }

    header div {
        flex-direction: column;

        &>h1 {
            text-align: center;
            margin: 1rem;
            font-size: 1.5rem;
            width: auto;
        }
    }

    .quote {
        flex-direction: column;
        text-align: center;

        &>img {
            align-self: center;
        }
    }

    .menu-mobile ul li a {
        font-size: 11vw;
    }
}

@media (min-width: 900px) {
    header div h1 {
        width: auto;
        margin-top: 61px;
        font-size: 2.5rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 128px;
    }

    footer .description {
        width: 50%;
        padding-right: 4rem;
    }

    #popular-challenges h2 {
        font-size: 2.25rem;
    }

    #example-two div {
        grid-column: 1;
        grid-row: 1;
    }

    #quote-two {
        display: flex;
    }

    .menu-desktop {
        display: flex;
        justify-content: center;
        height: fit-content;
        gap: 9%;
        padding-top: 58px;
        padding-bottom: 22px;
    }

    .menu-desktop a {
        color: white;
        text-decoration: none;
    }

    .menu-desktop li a:hover {
        color: var(--secondary);
    }

    .menu-button {
        display: none;
    }

    .button-container {
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;
        max-width: 900px;
        margin-top: -35px;
        gap: 18px;
    }

    .button-container button {
        margin: 0;
        padding: 0;
    }

    .button-container .online-challenges {
        margin: 0;
        padding: 0;
        background-color: var(--primary);
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
    }

    .challenges {
        padding-top: 60px;
    }

    .examples {
        padding-bottom: 183px;
    }

    .example {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
    }

    .example img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .example div {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        width: 65%;
        padding: 0;
    }

    .example div h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 37.5px;
        padding: 0;
    }

    .example div button {
        align-self: flex-start;
        margin-bottom: 1rem;
        width: 308px;
        margin-top: 37px;
    }

    .quotes {
        margin-top: 80px;
        margin-left: 80px;
        margin-right: 80px;
    }

    .rating {
        justify-content: space-between;
        padding-right: 1rem;
    }

    .margin-y-80 {
        margin: 80px 0 80px 0;
    }

    .story {
        padding: 124px 0 124px 0;
    }

    .story p {
        width: 49.3%;
    }
}

@media (min-width: 1500px) {
    html {
        font-size: 19px;
    }
}

@keyframes fadein {
    0% {
        scale: 0.9;
        opacity: 0.3;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}